<% Physician Name %>
<% form_for ([@physician, @appointment]) do |f|  %>
    <%=f.label :name %>
    <h1> <%= f.text_field :name %></h1>
    <%=f.label :email %>
   <h1> <%= f.text_field :email%></h1>
   <% end %>