
  
<h1> Physician List </h1>
<h2>User Name:- <%= @current_user.username %></h2>
<ul>


<% current_user.physicians.each do |physician| %>
  <h2><%= link_to physician.name_and_email, physician_appointments_path(physician)%></h2>
<% end %>
</ul>
