<h1> <%= @physican.name %></h1>
<h1> <%= @physician.email%></h1>

<h3><%=@physican.name %> Physician List: </h3>
<% @physican.appointements.each do |appointement| %>
<%= render @physician.appointements%>
<% end %>