<h1>PHYSICIAN PAGE </h1>
<%= @physician.name %><br>
<%= @physician.email %><br>
<%= link_to "Edit", edit_physician_path(@physician)%><br>
<%= link_to "Delete", physician_path(@physician), method: 'delete' %>