
<h3>Select an Already Existing physician:</h3>
<%= f.collection_select :physician_id, Physician.all, :id, :name %> 
<h3>Create new  physician: </h3>
<%= f.fields_for :physician do |b| %>
<%= render partial: "physicians/form", locals: { fp: b } %>
<% end %>