

<h1>All of the Appointments!!</h1>

<!--<% @appointments.each do |appointment| %>
<%= render partial: "shoe", locals: {shoe: shoe}%>
<% end %> --> 
  <% render partial: "appointement", collection: @appointment %>