<h1>Appointment Page </h1>

h1>Appointment Show Page</h1>

<h1>Appointment Date:- <%=@appointment.appointment_datetime.strftime("%B %-d, %Y at %k:%M")%><br>
<h2>Physician:- <%= @appointement.physicians.name %> - <%= @appointement.physicians.email %> </h2>

