



<h1>Appointment Date:- <%= (@appointment.appointment_datetime) %></h1> 
<h2>Physician List:- <%= link_to @appointment.physician.name, physician_path(@appointment.physician) if @appointment.physician %> 
<h2>Category To:- <%= @appointment.category.name %></h2>


