<h1>SHOW PAGE </h1>

<%= @appointement.appointement_datetime %>
<%= display_appintement%>
<%= link_to "Edit", edit_appointment_path(@appointment)%>
<%= link_to "Delete", appointment_path(@appointment)), method: 'delete' %>
